Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
psycopg2-binary
gunicorn
SQLAlchemy==2.0.42
requests==2.32.5
pandas==2.3.3
numpy==2.2.6
opencv-python==4.12.0.88
ultralytics==8.3.8
torch==2.9.1
torchvision==0.24.1
python-dotenv==1.2.1
flask-cors==6.0.2
